<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Developer: Seyi R. Afolayan-->
  <xacro:macro name="adapter" params="prefix">
    <link name="${prefix}_adapter">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://robotiq_description/meshes/visual/robotiq_gripper_coupling.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="">
          <color rgba="0.1 0.1 0.1 1"/>
        </material>
      </visual>
    </link>
  </xacro:macro>

</robot>