<?xml version="1.0"?>
<robot name="ur5e_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Developer: Seyi R. Afolayan -->
    <!-- Arguments required by ur.urdf.xacro -->
    <xacro:arg name="name" default="ur5e_robot"/>
    <xacro:arg name="ur_type" default="ur5e"/>
    <xacro:arg name="tf_prefix" default=""/>
    <xacro:arg name="joint_limit_params" default="$(find ur_description)/config/ur5e/joint_limits.yaml"/>
    <xacro:arg name="kinematics_params" default="$(find ur_description)/config/ur5e/default_kinematics.yaml"/>
    <xacro:arg name="physical_params" default="$(find ur_description)/config/ur5e/physical_parameters.yaml"/>
    <xacro:arg name="visual_params" default="$(find ur_description)/config/ur5e/visual_parameters.yaml"/>
    <xacro:arg name="transmission_hw_interface" default=""/>
    <xacro:arg name="safety_limits" default="false"/>
    <xacro:arg name="safety_pos_margin" default="0.15"/>
    <xacro:arg name="safety_k_position" default="20"/>
    <xacro:arg name="force_abs_paths" default="false"/>
    
    <xacro:include filename="$(find ur_description)/urdf/ur.urdf.xacro"/>
    <xacro:include filename="$(find robotiq_description)/urdf/robotiq_arg2f_85_model.xacro"/>
    <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro"/>

    <!-- Connecting UR5e end-effector to gripper -->
    <joint name="end_effector_gripper_joint" type="fixed">
        <parent link="tool0"/>
        <child link="robotiq_arg2f_base_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <!-- Adding the intermediate link between the end effector and the sensor for potentially camera adapters-->
    <link name="camera_link">
    </link>

    <joint name="camera_joint" type="fixed">
        <axis xyz="0 0 1"/>
        <origin xyz="-0.015 -0.05 0.015" rpy="0 0 0"/>
        <parent link="tool0"/>
        <child link="camera_link"/>
    </joint>

    <!-- Connecting the camera sensor to the camera link -->
    <xacro:sensor_d435 parent="tool0" name="d435" use_nominal_extrinsics="true" add_plug="true" use_mesh="true"> <!-- The parent can also be camera_link -->
        <origin xyz="0.0 -0.06 0.0" rpy="-1.5708 -1.5708 0"/>
    </xacro:sensor_d435>
</robot>
