<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="adapter" params="prefix">
    <link name="${prefix}_adaapter">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://robotiq_2f_85_gripper_visualization/meshes/visual/robotiq_gripper_coupling.stl" scale="1 1 1"/>
        </geometry>
        <material name="">
          <color rgba="0.1 0.1 0.1 1" />
        </material>
      </visual>
      <!--<collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://robotiq_2f_85_gripper_visualization/meshes/visual/robotiq_gripper_coupling.stl" scale="1 1 1"/>
        </geometry>
      </collision>-->
    </link>
  </xacro:macro>


  <xacro:macro name="ur_" params="prefix fingerprefix reflect">
    <joint name="${prefix}${fingerprefix}_inner_knuckle_joint" type="revolute">
      <!-- <origin xyz="0 ${reflect * -0.0127} 0.06142" rpy="${pi / 2 + .725} 0 ${(reflect - 1) * pi / 2}" /> -->
      <origin xyz="0 ${reflect * -0.0127} 0.06142" rpy="0 0 ${(1 + reflect) * pi / 2}"/>
      <parent link="${prefix}robotiq_arg2f_base_link" />
      <child link="${prefix}${fingerprefix}_inner_knuckle" />
      <axis xyz="1 0 0" />
      <limit lower="0" upper="0.8757" velocity="2.0" effort="1000" />
      <mimic joint="${prefix}finger_joint" multiplier="1" offset="0" />
    </joint>
  </xacro:macro>

  <!-- Initialization of all joints and links -->
  <xacro:macro name="robotiq_arg2f_85" params="prefix">
    <xacro:robotiq_arg2f_base_link prefix="${prefix}"/>
    <xacro:finger_links prefix="${prefix}" fingerprefix="left" stroke="85"/>
    <xacro:finger_links prefix="${prefix}" fingerprefix="right" stroke="85"/>
    <xacro:finger_joint prefix="${prefix}"/>
    <xacro:right_outer_knuckle_joint prefix="${prefix}"/>
    <xacro:robotiq_arg2f_transmission prefix="${prefix}"/>
  </xacro:macro>
</robot>
